@import "../../../../styles-variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: $primary-color;
  color: #fff;
}

.navbar-logo img {
  height: 50px;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin: 0 1rem;
}
.navbar-links li:hover {
  transition-duration: 500ms;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ddd;
}

.navbar-actions {
  /* Add styles for your navbar actions here */
}
