<p>project-one works!</p>
<input type="text" [(ngModel)]="salary" />
<h2>Paid since start:</h2>
<h1>{{ currentPay | toFixed : 2 }}</h1>
<ul>
  <li>Annualy: {{ salary | currency : "NOK" }}</li>

  <li>Monthly: {{ salaryPerMonth | currency : "NOK" : "symbol-narrow" }}</li>
  <li>
    Daily: {{ salaryPerDay | currency : "NOK" : "symbol-narrow" : "1.0-0" }}
  </li>
  <li>
    Hourly: {{ salaryPerHour | currency : "NOK" : "symbol-narrow" : "1.2-2" }}
  </li>
  <li>
    Minute: {{ salaryPerMinute | currency : "NOK" : "symbol-narrow" : "1.2-2" }}
  </li>
  <li>
    Second: {{ salaryPerSecond | currency : "NOK" : "symbol-narrow" : "1.2-2" }}
  </li>
</ul>
