<h1>Salary counter</h1>
<input
  type="text"
  [ngModel]="salary"
  (ngModelChange)="salary = $event; calculate()"
/>
<h2>Paid since start:</h2>
<h1>{{ currentPay | toFixed : 2 }}</h1>
<ul>
  <li>Annualy: {{ salary | currency : "NOK" : "symbol-narrow" }}</li>
  <li>Monthly: {{ monthRate | currency : "NOK" : "symbol-narrow" }}</li>
  <li>Daily: {{ dayRate | currency : "NOK" : "symbol-narrow" }}</li>
  <li>Hourly: {{ hourRate | currency : "NOK" : "symbol-narrow" }}</li>
  <li>Minute: {{ minuteRate | currency : "NOK" : "symbol-narrow" }}</li>
  <li>Second: {{ secondRate | currency : "NOK" : "symbol-narrow" }}</li>
</ul>
